# Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=strongpassword123
POSTGRES_DB=inventory_db

# Backend
DATABASE_URL=postgresql://admin:strongpassword123@db:5432/inventory_db

# Frontend
VITE_API_URL=http://localhost:8000
